<!DOCTYPE html>
<html>

<head>
	<title>Art Gallery | Delete Customer</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/newcust.css')}}">
  <style>
    body{
      background: url('/static/styles/img/Image3.jpg');
    }
  </style>
</head>

<body>
  <div class = "container" >  
    <form id = "contact" method = "POST" action = "/del">
      <h3>DELETE CUSTOMER</h3><br>
      <fieldset>
        <input placeholder = "Customer ID" type = "text" tabindex = "1" name = 'CID'>
      </fieldset>
      <fieldset>
        <button name = "submit" type = "submit" id = "contact-submit">DELETE</button>
        <p style="color: rgb(253, 173, 173);">{{msg}}</p>
      </fieldset>
      <fieldset>
        <button name = "submit" type = "submit" id = "contact-submit"><a href='/customers' style = 'text-decoration: none;'>CUSTOMER LIST</a></button>
      </fieldset>
    </form>
  </div>
</body>

</html>