<!DOCTYPE html>
<html>

<head>
	<title>Art Gallery | Delete Orders</title>
  <style>
    body{
      background: url('/static/styles/img/Image6.jpg');
    }
  </style>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/newcust.css')}}">
</head>

<body>
  <div class = "container" >  
    <form id = "contact" method = "POST" action = "/delorders">
      <h3>DELETE ORDERS</h3><br>
      <fieldset>
        <input placeholder = "Order Number" type = "text" tabindex = "1" name = 'OID'>
      </fieldset>
      <fieldset>
        <button name = "submit" type = "submit" id = "contact-submit">DELETE</button>
        <p style="color: rgb(236, 67, 123);">{{msg}}</p>
      </fieldset>
      <fieldset>
        <button name = "submit" type = "submit" id = "contact-submit"><a href='/orders' style = 'text-decoration: none;'>ORDERS LIST</a></button>
      </fieldset>
    </form>
  </div>
</body>

</html>