<!DOCTYPE html>
<html>

<head>
	<title>Art Gallery | New Artworks</title>
  <style>
    body{
      background: url('/static/styles/img/Image2.jpg');
    }
  </style>
	<link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename='styles/newcust.css')}}">
</head>

<body>
  <div class = "container">  
    <form id = "contact" method = "POST" action = "/newartworks">
      <h3>New Artworks Form</h3><br>
      <fieldset>
        <input placeholder = "Art ID" type = "text" tabindex = "1" name = 'art_id'>
      </fieldset>
      <fieldset>
        <input placeholder = "Art Title" type = "text" tabindex = "1" name = 'art_title'>
      </fieldset>
      <fieldset>
        <input placeholder = "Art Artist" type = "text" tabindex = "1" name = 'art_artist'>
      </fieldset>
      <fieldset>
        <input placeholder = "Art Price" type = "number" tabindex = "1" name = 'art_price'>
      </fieldset>
      <fieldset>
        <input placeholder = "Art Type" type = "text" tabindex = "1" name = 'art_type'>
      </fieldset>
      <fieldset>
        <input placeholder = "Art Year" type = "date" tabindex = "1" name = 'art_year'>
      </fieldset>
   
      <fieldset>
        <button name = "submit" type = "submit" id = "contact-submit">SUBMIT</button>
        <p style="color: red;">{{msg}}</p>
      </fieldset>
      <fieldset>
        <button name = "submit" type = "submit" id = "contact-submit" ><a href='/artworks' style='text-decoration: none;'>ARTIST LIST</a></button>
      </fieldset>
    </form>
  </div>
</body>

</html>